.product-body {

    font-family: "Segoe UI", sans-serif;
    width: min(1920px, 100%);
    margin: 0 auto;
    background-color: #F7F7F7;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    min-height: 100vh;
    padding: 24px 5px 130px;
}

.product-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 48px;
}

@media screen and (max-width: 810px) {
    .product-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 32px;
        justify-items: center;
    }
    .product-body {
        padding: 24px 5px 70px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
    }
}