.popular-supplies {
    position: relative;
    margin-top: 129px;
    padding: 0 5px;

    background-image: url("../../assets/popular-sup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 150px;
}

.popular-supplies__controls {
    padding: 5px 8px;
}

@media screen and (max-width: 768px) {
    .popular-supplies {
        margin-top: 73px;
    }
}