.sales {
    font-family: "Segoe UI", sans-serif;
    padding: 0 5px;
    margin-top: 100px;
    position: relative;
}

.sales__heading-title {
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: clamp(24px, calc(24px + (32 - 24) * ((100vw - 360px) / (1920 - 360))), 32px);
    line-height: 1;
    color: #231f20;
}

.middle-image{
    position: absolute;
    z-index: 1;
    width: min(1920px, 100%);
    margin: 0 auto;
    height: 80vh;
    top: 50%;
    left: 0;
    background-image: url('../../assets/sales-background.png');
    background-size: contain;
    /*background-position: center;*/
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.sales__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
}

.sales-title {
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1;
    color: #231f20;
}

.sales__heading-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #231f20;
    padding-right: 5px;
}

.sales__element-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
    gap: 24px;
    align-items: center;
    justify-items: center;
}

.sales__element {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding: 14px;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    width: min(306px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sales-marker {
    position: absolute;
    top: 14px;
    left: 14px;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    padding: 8px 12px;
    background: #dc092e;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.add-to-favourite-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: red;
}

.svg-heart {
    position: absolute;
    right: -2%;
    top: 0;
}

.svg-heart.active .heart-path {
    fill-rule: nonzero;
    fill: red !important;
}

.add-to-favourite-icon svg {
    fill-rule: nonzero;
    fill: black;
    cursor: pointer;
}

.sales__element-image {
    align-self: center;
    margin-bottom: 14px;
    margin-top: 15px;
    user-select: none;
    width: 80%;
}

.sales__element-description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #231f20;
}

.sales__element-prices {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sales__element-price {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #231f20;
    margin-top: 28px;
    text-align: left;
}

.on-sale {
    color: #dc092e;
}

.price-for-sale {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-decoration: line-through;
    color: #787878;

}

.sales__element__user-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
    margin-top: 16px;
}

.sales__element__user-actions__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    background: rgba(120, 120, 120, 0.1);
    border-radius: 10px;
    width: 100%;
}

.decrement-btn, .increment-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    transition: 0.2s linear;
}

.decrement-btn:hover, .increment-btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dc092e;
    object-fit: cover;
    opacity: 1;
    border-radius: 6px;
    color: white;
}

.sales__element__user-actions__controls > :where(:first-child, :last-child) {
    opacity: 0.5;
    cursor: pointer;
}

.sales__element__user-actions__control {
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #231f20;
}

.sales__element__user-actions__add-to-bucket__wrapper {
    display: flex;
    border: 1px solid #dc092e;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    cursor: pointer;
}

.sales__element__user-actions__add-to-bucket {
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #dc092e;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    transition: 0.2s linear;
}

.sales__element__user-actions__add-to-bucket:hover {
    color: white;
    background-color: #dc092e;
}

@media screen and (max-width: 851px) {
    .sales {
        margin-top: 49px;
    }
    .sales__element-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        gap: 24px;
        align-items: center;
        justify-items: center;
    }

}

@media screen and (max-width: 560px) {
    .sales__element__user-actions__control {
        font-size: 14px;
    }
    .sales__element__user-actions__add-to-bucket {
        font-size: 12px;
    }
    .sales__element-price {
        font-size: 14px;
        margin-top: 20px;
    }
    .sales__element-description {
        font-size: 10px;
    }
    .sales__element-image {
        width: 72%;
    }
    .sales__heading-wrapper {
        align-items: flex-end;
    }
}
