.popular-supplies {
    margin-top: 129px;
    padding: 0 5px;
}

.svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dc092e;
    object-fit: cover;
    opacity: 1;
    width: 33px;
    height: 33px;
    border-radius: 6px;
    color: white;
}

.popular-supplies__controls {
    padding: 5px 8px;
}